/* .container {
  font-family: sans-serif;
  margin: 20px;
} */

.main-cart {
  display: flex;
  justify-content: space-around;
}

.Right {
  padding: 20px;
  width: 40%;
}

.Left {
  background-color: #f8f5f5; /* Adjust the background color as needed */
  padding: 20px;
  width: 100%;
}

.main-cart h1 {
  background-color: #f0f0f1; /* Adjust the background color as needed */
  padding: 20px;
  width: 100%;
  font-size: larger;
}

.main-cart h2 {
  padding: 20px;
  width: 100%;
  font-size: large;
}

.button1 {
  background-color: #4caf50;
  color: white;
  margin-left: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
